$font-family-sans-serif: 'Raleway', sans-serif;
$headings-font-weight: 300;

@import 'bootstrap';

text.nation {
  text-anchor: end;
}

circle.player {
  fill: #fff;
  fill-opacity: 20%;
  stroke: #000;
  stroke-width: 1px;
}

g.top-axis {
  path.domain {
    fill: none;
    stroke: none;
  }

  g.tick {
    line {
      stroke: #aaa;
    }
    text {
      font-size: 10px;
    }
  }
}
